
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/chicago.jpg");
}

body.other{
    background-image: url("images/chicago.jpg");
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}


main {
    top: 50px;
    bottom: 50px;
}

.column {
    float: left;
    width: 33.33%;
    text-align: center;
}

.column_reg {
    margin-top: 10%;
    display: inline-block;
    width: 55%;
    text-align: center;
}

.column_after {
    display: inline-block;
    width: 55%;
    text-align: center;
}

/* .column_quarter {
    float: left;
    width: 25%;
    text-align: center;
} */

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1300px) {
    .column {
        width: 100%;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

/* link { color: #ffffff; } */

a {
    color: lightgrey;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    transition:.3s;
}

a:hover { color: gray; }

h1 {
    color: lightgrey;
    text-align: center;
    font-family: Century Gothic;
    font-size: 80px;
    padding: 0px;
}

h2 {
    text-align: center;
    /* padding: 5px; */
    font-size: 40px;
    font-family: Century Gothic;
    color: lightgrey;
}

h2 a {
    text-decoration: none;
}

p {
    text-align: center;
    /* padding: 5px; */
    font-size: 20px;
    font-family: Century Gothic;
    color: lightgrey;
}

p.big{
    line-height: 2.25;
    font-size: 16px;
    /* color: lightgrey */
}

p a {
    text-decoration: none;
}

.center h2 {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.gap { 
    width: 100%;
    height: 200px; 
    background-color: transparent;
    display: inline-block;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background-color: black;
}

.overlay {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.85;
    overflow: hidden;
    width: 400px;
    height: 0;
    transition: .5s ease;
}


.container:hover .overlay {
    height: 100%;
}

.text {
    color: lightgrey;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.text_lots {
    color: lightgrey;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 37%;
    -webkit-transform: translate(-30%, -30%);
    -ms-transform: translate(-30%, -30%);
    transform: translate(-30%, -30%);
    text-align: center;
}

nav {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: lightgrey;
    font-weight: 100;
    font-family: Century Gothic;
    text-transform: uppercase;
    margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition-duration: .5s;
    transition-property: width;
    color: lightgrey;
}

nav ul li a:hover {
    color: lightgrey;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
    position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: lightgrey;
    height: 1px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

/* nav.stroke ul li a:visited {color: #ffffff;} */

.nav-background {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    top: 0;
}

/* buttons */
.btn {
    border: 2px solid lightgrey;
    background-color: black;
    color: lightgrey;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
  }

  .btn:hover {
    background-color: lightgrey;
    color: black;
  }